<div class="row justify-content-center mt-3">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="text-center">Property Type Details</h5>
      </div>
      <div class="card-body">
        <form class="row g-3" (ngSubmit)="submitPropertyTypeForm()">
          <input type="hidden" name="id" [(ngModel)]="propertyTypeUpsertModel.id" />
          <div class="col-md-6">
            <label for="name" class="form-label">* Name</label>
            <input id="name" type="text" nz-input name="name" [(ngModel)]="propertyTypeUpsertModel.name" />
          </div>
          <div class="col-12">
            <button nz-button nzType="default" nzSize="default" nzShape="round">
              <span nz-icon nzType="save" nzTheme="outline"></span>
              {{ upsertButtonName }}
            </button>
            <button nz-button nzType="default" nzSize="default" nzShape="round" routerLink="/property-types">
              <span nz-icon nzType="rollback" nzTheme="outline"></span>
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-clip-rotate-multiple" 
  [fullScreen] = "true">
  <p style="color: white" > 
    Loading... 
  </p>
</ngx-spinner>