<!-- This is templete drive form code example -->
<div class="row mt-3">
  <div class="col-md-8 col-sm-8 col-8">
    <div class="card shadow">
      <div class="card-header">
        <h5>List Your Properity</h5>
      </div>
      <div class="card-body">
        <form autocomplete="off" nz-form [formGroup]="formGroup" (ngSubmit)="submitForm()">
          <nz-tabset [nzSelectedIndex]="nzSelectedTabIndex" (nzSelectedIndexChange)="indexChange($event)">
            <nz-tab nzTitle="Basic Title">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="radioValue">
                  I want to
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-radio-group formControlName="radioValue" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="Sell">Sell</label>
                    <label nz-radio-button nzValue="Rent">Rent</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="radioValue">
                  BHK
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-radio-group formControlName="radioValue" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="1">1</label>
                    <label nz-radio-button nzValue="2">2</label>
                    <label nz-radio-button nzValue="3">3</label>
                    <label nz-radio-button nzValue="4">4</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="radioValue">
                  Properity Type
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-radio-group formControlName="radioValue" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="1">House</label>
                    <label nz-radio-button nzValue="2">Apartment</label>
                    <label nz-radio-button nzValue="3">Duplex</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="radioValue">
                  Furnishing Type
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-radio-group formControlName="radioValue" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="Fully">Fully</label>
                    <label nz-radio-button nzValue="Semi">Semi</label>
                    <label nz-radio-button nzValue="Unfurnished">Unfurnished</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="radioValue">
                  In Building/Society/Project
                </nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="15" nzErrorTip="The input is not valid E-mail!">
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="radioValue">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzFor="radioValue">
                  City
                </nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="15" nzErrorTip="The input is not valid E-mail!">
                  <input nz-input placeholder="Basic usage" formControlName="radioValue" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-button-group>
                  <button nz-button nzType="primary" [disabled]="true">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" (click)="onGoForwardTab(1)">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="Pricing Area">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="number">
                  Price (In USD)
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-input-number formControlName="number" [nzMin]="1" [nzMax]="100000" [nzStep]="1" style="width: 40%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="number">
                  Security (In USD)
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-input-number formControlName="number" [nzMin]="1" [nzMax]="100000" [nzStep]="1" style="width: 40%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="number">
                  Maiantenance (In USD)
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-input-number formControlName="number" [nzMin]="1" [nzMax]="100000" [nzStep]="1" style="width: 40%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="number">
                  Build Area (In Sqr Feet)
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-input-number formControlName="number" [nzMin]="1" [nzMax]="100000" [nzStep]="1" style="width: 40%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="number">
                  Carpet Area (In Sqr Feet)
                </nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="40" nzErrorTip="The input is not valid E-mail!">
                  <nz-input-number formControlName="number" [nzMin]="1" [nzMax]="100000" [nzStep]="1" style="width: 20%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-button-group>
                  <button nz-button nzType="primary" (click)="onGoBackTab(1)">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" (click)="onGoForwardTab(1)">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="Address Information">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="radioValue">Floor</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="15" nzErrorTip="The input is not valid E-mail!">
                  <input nz-input placeholder="Basic usage" formControlName="radioValue" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="radioValue">Total Floor</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="15" nzErrorTip="The input is not valid E-mail!">
                  <input nz-input placeholder="Basic usage" formControlName="radioValue" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="radioValue">Address</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="15" nzErrorTip="The input is not valid E-mail!">
                  <textarea formControlName="radioValue" nz-input placeholder="write any thing"></textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="radioValue">Landmark</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="15" nzErrorTip="The input is not valid E-mail!">
                  <textarea formControlName="radioValue" nz-input placeholder="write any thing"></textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-button-group>
                  <button nz-button nzType="primary" (click)="onGoBackTab(1)">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" (click)="onGoForwardTab(1)">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="Other Details">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="radioValue">
                  Ready To Move
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-radio-group formControlName="radioValue" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="Yes">Yes</label>
                    <label nz-radio-button nzValue="No">No</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="date">
                  Possession/Avaialble From
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-date-picker formControlName="date" (ngModelChange)="onChange($event)"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="radioValue">
                  Age of Property
                </nz-form-label>
                <nz-form-control [nzSm]="4" [nzXs]="10" nzErrorTip="The input is not valid E-mail!">
                  <input nz-input placeholder="Basic usage" formControlName="radioValue" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="radioValue">
                  Gated Community
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-radio-group formControlName="radioValue" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="Yes">Yes</label>
                    <label nz-radio-button nzValue="No">No</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="radioValue">
                  Ready To Move
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <nz-radio-group formControlName="radioValue" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="Easr">Easr</label>
                    <label nz-radio-button nzValue="West">West</label>
                    <label nz-radio-button nzValue="South">South</label>
                    <label nz-radio-button nzValue="North">North</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="radioValue">Description</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="15" nzErrorTip="The input is not valid E-mail!">
                  <textarea formControlName="radioValue" nz-input placeholder="write any thing"></textarea>
                </nz-form-control>
              </nz-form-item>
              <div class="col-12">
                <nz-button-group>
                  <button nz-button nzType="primary" (click)="onGoBackTab(1)">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" (click)="onGoForwardTab(1)">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </div>
            </nz-tab>
            <nz-tab nzTitle="Photo">
              <div class="col-12">
                <nz-button-group>
                  <button nz-button nzType="primary" (click)="onGoBackTab(1)">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" [disabled]="true">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </div>
            </nz-tab>
          </nz-tabset>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-4"></div>
</div>