[nz-button] {
    margin-bottom: 12px;
}

nz-button-group {
    margin-bottom: 8px;
    margin-right: 8px;
}

nz-date-picker {
    margin: 0 8px 12px 0;
}

.photo-upload-section {
    margin-bottom: 150px;
}