<div class="row mt-3">
  <div class="col-md-8 col-sm-8 col-8">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="text-center">Add Your Properity</h5>
      </div>
      <div class="card-body">
        <form autocomplete="off">
          <nz-tabset [nzSelectedIndex]="nzSelectedTabIndex" (nzSelectedIndexChange)="indexChange($event)">
            <nz-tab nzTitle="Basic Information">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzFor="name" nzRequired>
                  In Building / Society / Project
                </nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="24">
                  <input nz-input placeholder="In Building / Society / Project name" 
                    [(ngModel)]="propertyModel.name" name="name" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="sellRent">
                  I want to
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group [(ngModel)]="propertyModel.sellRent" name="sellRent" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="1">Sell</label>
                    <label nz-radio-button nzValue="2">Rent</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="bhk">
                  BHK
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group [(ngModel)]="propertyModel.bhk" name="bhk" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="1">1</label>
                    <label nz-radio-button nzValue="2">2</label>
                    <label nz-radio-button nzValue="3">3</label>
                    <label nz-radio-button nzValue="4">4</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="propertyTypeId">
                  Property Type
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group [(ngModel)]="propertyModel.propertyTypeId" name="propertyTypeId" 
                    nzButtonStyle="solid" [(ngModel)]="propertyModel.propertyTypeId" 
                    (ngModelChange)="onPropertyTypeModelChange($event)">
                    <label nz-radio-button nzValue="1">House</label>
                    <label nz-radio-button nzValue="2">Apartment</label>
                    <label nz-radio-button nzValue="3">Duplex</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="furnishingTypeId">
                  Furnishing Type
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group [(ngModel)]="propertyModel.furnishingTypeId" name="furnishingTypeId" 
                  (ngModelChange)="onFurnishingTypeModelChange($event)" nzButtonStyle="solid">
                    <label nz-radio-button nzValue="1">Fully Furnished</label>
                    <label nz-radio-button nzValue="2">Semi Furnished</label>
                    <label nz-radio-button nzValue="3">Unfurnished</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-button-group>
                  <button nz-button nzType="primary" [disabled]="true">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" (click)="onGoPricingAreaTab(1)">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="Pricing Area">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="price">
                  Price (In USD)
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-input-number [(ngModel)]="propertyModel.price" name="price" [nzMin]="1" [nzMax]="100000" 
                    [nzStep]="1" style="width: 60%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzFor="security">
                  Security (In USD)
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-input-number [(ngModel)]="propertyModel.security" name="security" [nzMin]="1" [nzMax]="100000" 
                    [nzStep]="1" style="width: 60%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzFor="maintenence">
                  Maiantenance (In USD)
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-input-number [(ngModel)]="propertyModel.maintenence" name="maintenence" [nzMin]="1" [nzMax]="100000" 
                    [nzStep]="1" style="width: 60%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="buildArea">
                  Build Area (In Sqr Feet)
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-input-number [(ngModel)]="propertyModel.buildArea" name="buildArea" [nzMin]="1" [nzMax]="100000" 
                    [nzStep]="1" style="width: 60%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="carpetArea">
                  Carpet Area (In Sqr Feet)
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-input-number [(ngModel)]="propertyModel.carpetArea" name="carpetArea" [nzMin]="1" 
                    [nzMax]="100000" [nzStep]="1" style="width: 60%;">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-button-group>
                  <button nz-button nzType="primary" (click)="onGoBackTab(1)">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" (click)="onGoAddressInformationTab(1)">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="Address Information">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="floorNo">Floor No</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input placeholder="Floor No" [(ngModel)]="propertyModel.floorNo" name="floorNo" 
                    style="width: 60%;" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="totalFloor">Total Floor</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input placeholder="Total Floor" [(ngModel)]="propertyModel.totalFloor" 
                    name="totalFloor" style="width: 60%;" />
                </nz-form-control>
              </nz-form-item>
              <!-- <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzRequired nzFor="addressLineOne">Address Line One</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <textarea nz-input placeholder="Address Line One" [(ngModel)]="propertyModel.address!.addressLineOne!"
                    name="addressLineOne" style="width: 60%;">
                  </textarea>
                </nz-form-control>
              </nz-form-item> -->
              <!-- <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzFor="addressLineTwo">Address Line Two</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <textarea nz-input placeholder="Address Line Two" [(ngModel)]="propertyModel.address!.addressLineTwo!"
                    name="addressLineTwo" style="width: 60%;">
                  </textarea>
                </nz-form-control>
              </nz-form-item> -->
              <!-- <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzFor="countryId" nzRequired>
                  Country
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a country" 
                    (ngModelChange)="onChangeCountry($event)" [(ngModel)]="propertyModel.address!.countryId" 
                    name="countryId" style="width: 60%;"> 
                    <nz-option nzLabel="{{ country.name }}" nzValue="{{ country.id }}" *ngFor="let country of countries">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item> -->
              <!-- <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="20" nzFor="cityId" nzRequired>
                  City
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a city" 
                    [(ngModel)]="propertyModel.address!.cityId" name="cityId"
                    (ngModelChange)="onCityModelChange($event)" style="width: 60%;"> 
                    <nz-option nzLabel="{{ city.name }}" nzValue="{{ city.id }}" *ngFor="let city of cascadingCities">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item> -->
              <nz-form-item>
                <nz-button-group>
                  <button nz-button nzType="primary" (click)="onGoBackTab(1)">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" (click)="onGoOtherDetailsTab(1)">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="Other Details">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="isReadyToMove">
                  Ready To Move
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group [(ngModel)]="propertyModel.isReadyToMove" name="isReadyToMove" nzButtonStyle="solid">
                    <label nz-radio nzValue="true">Yes</label>
                    <label nz-radio nzValue="false">No</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="isGated">
                  Gated Community
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group [(ngModel)]="propertyModel.isGated" name="isGated" nzButtonStyle="solid">
                    <label nz-radio nzValue="true">Yes</label>
                    <label nz-radio nzValue="false">No</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzRequired nzFor="estPossessionOn">
                  Possession/Avaialble From
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-date-picker [(ngModel)]="propertyModel.estPossessionOn" name="estPossessionOn" style="width: 60%;">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzFor="age">
                  Age of Property
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input placeholder="Age" [(ngModel)]="propertyModel.age" name="age" style="width: 60%;"/>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" nzFor="description">Description</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <textarea [(ngModel)]="propertyModel.description" name="description" nz-input 
                    placeholder="write any thing" style="width: 60%;">
                  </textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-button-group>
                  <button nz-button nzType="primary" (click)="onGoBackTab(1)">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" (click)="onGoPhotoTab(1)">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="Photo">
              <div class="row justify-content-center photo-upload-section" >
                <div class="col-md-8">
                  <nz-upload nzType="drag" [nzMultiple]="true" 
                    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" (nzChange)="handleChange($event)">
                    <p class="ant-upload-drag-icon">
                      <i nz-icon nzType="inbox"></i>
                    </p>
                    <p class="ant-upload-text">Click or drag file to this area to upload</p>
                    <p class="ant-upload-hint">
                      Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files.
                    </p>
                  </nz-upload>
                </div>
              </div>
              <nz-form-item>
                <nz-button-group>
                  <button nz-button nzType="primary" (click)="onGoBackTab(1)">
                    <i nz-icon nzType="left"></i>
                    Go back
                  </button>
                  <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
                  <button nz-button nzType="primary" [disabled]="true">
                    Go forward
                    <i nz-icon nzType="right"></i>
                  </button>
                </nz-button-group>
              </nz-form-item>
            </nz-tab>
          </nz-tabset>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-4">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="text-center">Your Property Preview</h5>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-image-wrap text-center">
            <img src="../../../../assets/images/house_default.jpg" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="text-primary">{{ propertyModel.bhk }} BHK {{ propertyTypeName }}</h5>
            <span>in {{ propertyModel.name }}, {{ cityName }}</span>
            <p>
              <span>{{ furnishingTypeName }}</span>
            </p>
            <hr class="mt-0 mb-0">
            <p>
              Price: <span class="text-danger fst-italic">{{ propertyModel.price }} USD</span> | 
              Area: <span class="text-danger fst-italic">{{ propertyModel.buildArea }} Sq Ft</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-clip-rotate-multiple" 
  [fullScreen] = "true">
  <p style="color: white" > 
    Loading... 
  </p>
</ngx-spinner>