<div class="row shadow mt-3">
  <div class="col-md-4 col-sm-4 col-4 p-0">
    <div class="card">
      <div class="card-img-warp text-center mt-3">
        <img src="../../../../assets/images/house_1.png" class="card-img-top">
      </div>
      <div class="card-body mt-2">
        <h4 class="card-title text-primary">Pearl Green</h4>
        <span>2 BHK partment @ 51200</span><br>
        <span>in New York</span>
        <hr>
        <span><strong>Build Area:</strong> 1200 Sqft</span><br>
        <span><strong>Carpet Area:</strong> 1000 Sqft</span><br>
        <span><strong>Furnishing Type:</strong> Fully</span>
      </div>
      <div class="card-footer">
        <nz-button-group class="d-flex">
          <button nz-button nzType="primary" style="width: 100%">Like</button>
          <button nz-button nzType="default" style="width: 100%;">Message</button>
        </nz-button-group>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-8 col-8">
    <nz-tabset>
      <nz-tab nzTitle="Overview">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="projectName" class="form-label">Project Name</label>
            <input nz-input name="projectName" [(ngModel)]="testData" type="text" id="projectName" [disabled]="true">
          </div>
          <div class="col-md-6">
            <label for="mainEntrance" class="form-label">Main Entrance</label>
            <input nz-input name="mainEntrance" [(ngModel)]="testData" type="text" id="mainEntrance" [disabled]="true">
          </div>
          <div class="col-md-6">
            <label for="floorNumber" class="form-label">Floor Number</label>
            <input nz-input name="floorNumber" [(ngModel)]="testData" type="text" id="floorNumber" [disabled]="true">
          </div>
          <div class="col-md-6">
            <label for="gatedCommunity" class="form-label">Gated Community</label>
            <input nz-input name="gatedCommunity" [(ngModel)]="testData" type="text" id="gatedCommunity" [disabled]="true">
          </div>
          <div class="col-md-6">
            <label for="ageOfProperty" class="form-label">Age of Property</label>
            <input nz-input name="ageOfProperty" [(ngModel)]="testData" type="text" id="ageOfProperty" [disabled]="true">
          </div>
          <div class="col-md-6">
            <label for="securityDeposit" class="form-label">Security Deposit</label>
            <input nz-input name="securityDeposit" [(ngModel)]="testData" type="text" id="securityDeposit" [disabled]="true">
          </div>
          <div class="col-md-6">
            <label for="posession" class="form-label">Posession</label>
            <input nz-input name="posession" [(ngModel)]="testData" type="text" id="posession" [disabled]="true">
          </div>
          <div class="col-md-6">
            <label for="maintenance" class="form-label">Maintenance</label>
            <input nz-input name="maintenance" [(ngModel)]="testData" type="text" id="maintenance" [disabled]="true">
          </div>
          <div class="col-md-12">
            <label for="abboutProperty" class="form-label">About Property</label>
            <textarea nz-input name="abboutProperty" [(ngModel)]="testData" id="maintenance" [disabled]="true"></textarea>
          </div>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Address">
        <form class="row g-3">
          <div class="col-md-12">
            <label for="fullAddress" class="form-label">Full Address</label>
            <textarea nz-input name="fullAddress" [(ngModel)]="testData" id="fullAddress" [disabled]="true"></textarea>
          </div>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Photo">
        <form class="row g-3 justify-content-center align-content-center">
          <div class="col-md-8 text-center">
            <img nz-image width="400px" height="400px" 
              nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="" />
              <button nz-button nzType="primary" (click)="previewAllImages()" class="mt-3">Preview All Images</button>
          </div>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Contact">
        <form class="row g-3">
          <div class="col-md-12">
            <label for="contactInformation" class="form-label">Contact Information</label>
            <textarea nz-input name="contactInformation" [(ngModel)]="testData" id="contactInformation" [disabled]="true">
            </textarea>
          </div>
        </form>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" 
  color = "#fff" type = "ball-triangle-path" [fullScreen] = "true">
  <p style="color: white" > 
    Loading... 
  </p>
</ngx-spinner>