<div class="row shadow mt-3">
  <div class="col-md-4 col-sm-4 col-4 p-0">
    <div class="card">
      <div class="card-img-warp text-center mt-3">
        <img src="../../../../assets/images/house_1.png" class="card-img-top">
      </div>
      <div class="card-body mt-3">
        <h3 class="card-title text-primary">{{ propertyModel.name }}</h3>
        <span>
          {{ propertyModel.bhk }} BHK {{ propertyModel.propertyTypeName }} @ ${{ propertyModel.price }}
        </span>
        <br>
        <span>in {{ propertyModel.address.cityName }}</span>
        <hr>
        <span><strong>Build Area:</strong> &nbsp; {{ propertyModel.buildArea }} Sqft</span><br>
        <span><strong>Carpet Area:</strong> &nbsp; {{ propertyModel.carpetArea }} Sqft</span><br>
        <span><strong>Furnishing Type:</strong> &nbsp; {{ propertyModel.furnishingTypeName }}</span><br>
        <span><strong>Available For:</strong> &nbsp; {{ propertyModel.sellRent == 1 ? "Buy" : "Rent" }}</span>
      </div>
      <div class="card-footer">
        <nz-button-group class="d-flex">
          <button nz-button nzType="primary" style="width: 100%">Like</button>
          <button nz-button nzType="default" style="width: 100%;">Message</button>
        </nz-button-group>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-8 col-8">
    <nz-tabset>
      <nz-tab nzTitle="Overview">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="projectName" class="form-label">Project Name</label>
            <input nz-input name="projectName" [(ngModel)]="propertyModel.name" type="text" id="projectName" [disabled]="true">
          </div>
          <div class="col-md-3">
            <label for="floorNumber" class="form-label">Floor Number</label>
            <input nz-input name="floorNumber" [(ngModel)]="propertyModel.floorNo" type="text" id="floorNumber" 
              [disabled]="true">
          </div>
          <div class="col-md-3">
            <label for="totalFloor" class="form-label">Total Floor</label>
            <input nz-input name="totalFloor" [(ngModel)]="propertyModel.totalFloor" type="number" id="floorNumber" 
              [disabled]="true">
          </div>
          <div class="col-md-3">
            <label for="ageOfProperty" class="form-label">Age of Property</label>
            <input nz-input name="ageOfProperty" [(ngModel)]="propertyModel.age" type="text" id="ageOfProperty" [disabled]="true">
          </div>
          <div class="col-md-3">
            <label for="securityDeposit" class="form-label">Security Deposit</label>
            <input nz-input name="securityDeposit" [(ngModel)]="propertyModel.security" type="number" id="securityDeposit" 
              [disabled]="true">
          </div>
          <div class="col-md-6">
            <label for="posession" class="form-label">Posession</label>
            <input nz-input name="posession" [ngModel]="propertyModel.estPossessionOn  | date: 'EEEE, MMMM d, y'" 
              type="text" id="posession" [disabled]="true">
          </div>
          <div class="col-md-3">
            <label for="maintenance" class="form-label">Maintenance</label>
            <input nz-input name="maintenance" [(ngModel)]="propertyModel.maintenence" type="text" id="maintenance" 
              [disabled]="true">
          </div>
          <div class="col-md-3">
            <label for="gatedCommunity" class="form-label">Gated Community</label>
            <input nz-input name="gatedCommunity" 
              [ngModel]="propertyModel.isGated == true ? 'Yes' : 'No'" type="text" id="gatedCommunity" 
              [disabled]="true">
          </div>
          <div class="col-md-12">
            <label for="abboutProperty" class="form-label">About Property</label>
            <textarea nz-input name="abboutProperty" [(ngModel)]="propertyModel.description" id="maintenance" 
              [disabled]="true">
            </textarea>
          </div>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Address">
        <form class="row g-3">
          <div class="col-md-12">
            <label for="fullAddress" class="form-label">Full Address</label>
            <textarea nz-input name="fullAddress" id="fullAddress" [disabled]="true" 
              [(ngModel)]="propertyModel.address.addressLineOne + ', ' 
                + propertyModel.address.cityName + ', ' + propertyModel.address.countryName">
            </textarea>
          </div>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Photo">
        <form class="row g-3 justify-content-center align-content-center">
          <div class="col-md-8 text-center">
            <img nz-image width="400px" height="400px" 
              nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="" />
              <button nz-button nzType="primary" (click)="previewAllImages()" class="mt-3">Preview All Images</button>
          </div>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Contact">
        <form class="row g-3">
          <div class="col-md-12">
            <label for="contactInformation" class="form-label">Contact Information</label>
            <textarea nz-input name="contactInformation" id="contactInformation" [disabled]="true">
            </textarea>
          </div>
        </form>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-clip-rotate-multiple" 
  [fullScreen] = "true">
  <p style="color: white" > 
    Loading... 
  </p>
</ngx-spinner>